<div id="confirmationModal" class="modal fade in confirmation">
	<div class="modal-backdrop  fade in"></div>
	<div class="modal-dialog in">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close close-modal" type="button">x</button>
				<h4 class="modal-title">Confirmation Box</h4>
			</div>
			<div class="modal-body">
				<div>
					<span>
						<i class="icons8-High-Importance extra"></i>
					</span>
					<span class="cnfrm-msg text-warning"> {{confirmationMessage}} </span>
				</div>
			</div>
			<div class="modal-footer">
				<div class="footer-btn">
					<button class="btn btn-danger" data-dismiss="modal" type="button">
						Cancel
					</button>
					<button class="btn btn-success" type="submit" data-ng-click="onConfirmation($event)">Continue</button>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>