<div class="message_alert_small alert_error" data-ng-if="message.type == 'error'">
	<div class="circle_small"><i class="icons8-Error"></i></div>
    <span>{{message.content}}</span>
    <div class="clear"></div>
</div>

<div class="message_alert_small alert_success" data-ng-if="message.type == 'success'">
	<div class="circle_small"><i class="icons8-Checkmark"></i></div>
    <span>{{message.content}}</span>
    <div class="clear"></div>
</div>

<div class="message_alert_small alert_info" data-ng-if="message.type == 'info'">
	<i class="icons8-Info"></i>
    <span>{{message.content}}</span>
    <div class="clear"></div>
</div>

<div class="message_alert_small alert_warning" data-ng-if="message.type == 'warning'">
	<i class="icons8-High-Importance"></i>
    <span>{{message.content}}</span>
    <div class="clear"></div>
</div>