<!-- Navigation Bar -->
<div class="jumpLinks whitebx" data-ng-if="userLogged">
	<ul class="jumpleft">
        <li data-ng-repeat="page in pageConfig" data-ng-if="page.directLink && isPageAccessible(page.pageId)" data-ng-class="{'active': activePage == page.pageId}">
            <a href="#/{{page.pageHash}}">{{page.name}}</a>
        </li>
        <div class="magicline"></div>
    </ul>
    <div class="clear"></div>	
</div>
<!-- <div id="leftNavMenuRevamp" class="leftNavMenuRevamp" data-ng-if="userLogged">
	<div class="leftNavigationLeftContainer expandDiv">
		<ul class="nav">
			<li data-ng-repeat="page in pageConfig" data-ng-if="page.directLink && isPageAccessible(page.pageId)" navindex="1" nav="1" class="navlink smallNav">
				<a class="leftCategoriesProduct" href="#/{{page.pageHash}}">
					<i class="icon icons8-User"></i>
					<span class="catText">{{page.name}}</span>
				</a>
			</li>
		</ul>
	</div>
</div> -->