<div class="whitebx">
	<h3 class="entry_heading">Component Status</h3>
	<div class="entry">
		<div data-ng-include="'/components/overlay.html'" data-ng-show="loading"></div>
		<div class="content">
			<div data-ng-include="'/components/messageContainer.html'"></div>
			<div data-ng-include="'/components/loader.html'" data-ng-hide="componentList"></div>
			<table class="table table-striped table-bordered" data-ng-if="componentList.length > 0">
				<thead>
					<tr>
						<th>Component</th>
						<th>ITE</th>
						<th>Staging</th>
						<th>Production</th>
						<th class="actionsColumn">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="item in componentList">
						<td>{{item.name}}</td>
						<td>
							<span class="application-status" data-ng-class="checkStatus('ite', item)"></span>
							<span data-ng-if="checkStatus('ite', item) == 'not'">-</span>
						</td>
						<td>
							<span class="application-status" data-ng-class="checkStatus('staging', item)"></span>
							<span data-ng-if="checkStatus('staging', item) == 'not'">-</span>
						</td>
						<td>
							<span class="application-status" data-ng-class="checkStatus('production', item)"></span>
							<span data-ng-if="checkStatus('production', item) == 'not'">-</span>
						</td>
						<td class="actionsColumn">
							<span class="icon" data-ng-click="showSubscribeModal($event, $index)">
								<i class="icons8-Tag" title="Subscribe"></i>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div data-ng-include="'/components/subscribeModal.html'"></div>