<div class="whitebx">
  <h3 class="entry_heading">System Settings</h3>
  <div class="entry">
    <div data-ng-include="'/components/overlay.html'" data-ng-show="loading"></div>
    <div class="content">
      <div data-ng-include="'/components/messageContainer.html'"></div>
      <div data-ng-include="'/components/loader.html'" data-ng-hide="systemSettings.length > 0"></div>
      <div data-ng-show="systemSettings.length > 0">
        <form name="systemSettingsForm" class="formbox" autocomplete="off" novalidate data-ng-submit="systemSettingsForm.$valid && onSubmit(this)">
          <div data-ng-repeat="field in systemSettings">
            <div class="form-group form-fill" data-ng-class="{'error': systemSettingsForm[field.name].$invalid && (systemSettingsForm.$submitted || systemSettingsForm[field.name].$touched)}" data-ng-if="field.dataType !== 'Boolean'">
              <div class="col-sm-3">
                <label class="form-label">{{field.name}}</label>
                <input type="text" data-ng-model="field.value" class="inputfield input-orange inputanimate" name="{{field.name}}" required data-ng-if="field.dataType === 'String'">
                <input type="number" data-ng-model="field.value" class="inputfield input-orange inputanimate" name="{{field.name}}" required data-ng-if="field.dataType === 'Integer'">

                <div class="errorContainer" data-ng-if="systemSettingsForm[field.name].$invalid">
                  <div class="errorText" data-ng-if="systemSettingsForm[field.name].$error.required">{{field.name}} is mandatory field</div>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="checkbox" data-ng-if="field.dataType === 'Boolean'">
              <label>
              <input type="checkbox" name="{{field.name}}" data-ng-model="field.value">
                <span class="checkbox-material">
                  <span class="check"></span>
                </span>
                {{field.name}}
              </label>
            </div>
          </div>
          <div class="center">
            <input class="btn" type="submit" value="Save"/>
          </div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>